.ball-main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d36542;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    border: 5px solid black;
    overflow: hidden;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {margin-top: 15%; transform: scale(1,1);      animation-timing-function: ease-in-out;}
    40% {transform: scale(1,1);}
    50% {margin-top: 33%; transform: scale(1,0.92);
    animation-timing-function: ease-out;}
    60% {transform: scale(1,1);}
    100% {margin-top: 15%; animation-timing-function: ease-out;}
    /* 0% {transform: translateY(100px) scale(1,1); animation-timing-function: ease-in-out;}
    40%, 60% {transform: translateY(240px) scale(1,1);animation-timing-function: ease-in-out;}
    50% {transform: translateY(300px) scale(1,0.8); animation-timing-function: ease-in-out;}
    100% {transform: translateY(100px) scale(1,1); animation-timing-function: ease-in;} */
}
.left {
    width: 150px;
    height:150px;
    margin-top: 25px; 
    border-radius: 50%;
    border: 5px solid black;
    z-index: 99;
    position: absolute;
    right: 135px;
}
.right {
    width: 150px;
    height:150px;
    margin-top: 25px; 
    border-radius: 50%;
    border: 5px solid black;
    z-index: 99;
    position: absolute;
    left: 135px;
}
.vertical {
    width: 400px;
    height:500px; 
    border-radius: 50%;
    border: 5px solid black;
    z-index: 99;
    position: absolute;
    left: 90px;
    margin-top: -160px;
}
.horizontal {
    width: 600px;
    height:400px; 
    border-radius: 50%;
    border: 5px solid black;
    z-index: 99;
    position: absolute;
    right: -200px;
    margin-top: -300px;
}
/* .shadow {
    width: 200px;
    height: 20px;
    border-radius: 50%;
    background-color: #999999;
    position: absolute;
    margin: 0 auto;
    margin-top: 15%;
} */